logs
project/project
project/target
target
tmp
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
activator
activator*.jar
activator.bat
bin/
/db
.eclipse
/lib/
/logs/
/modules
/project/project
/project/target
/target
tmp/
test-result
server.pid
*.iml
*.eml
/dist/
.cache

projectFilesBackup/.idea/libraries/SBT__org_scala_lang_scala_library_2_11_1.xml
projectFilesBackup/.idea/libraries/SBT__scala_2_11_1.xml