.highlight {
	background-color: #f8eec7;
}

.narrow {
	width: 100px;
  	overflow: hidden;
  	text-overflow: ellipsis;
  	white-space: nowrap;
}

.center {
	text-align: center;
}

img.avatar64x64 {
	max-height: 24px;
	max-width: 24px;
	margin-right: 10px;
}

.user {
	height: 200px;
}

.user a {
	position: relative;
	bottom: 0;
}

img.avatar128x128 {
	max-height: 128px;
	max-width: 128px;
	margin-right: 10px;
}

.tiny {
	width: 20px;
}

.top {
	vertical-align: top;
}

.table > thead > tr > th,
.table > tbody > tr > td,
.table > tbody > tr > th {
	border: none;
}

th.day-header {
	background-color: #fff;
}

tr.head {
	border-top: 1px solid #ddd;
}

.breadcrumb > li.active {
  color: #000;
}

.content {
	overflow:auto;
	max-width: 900px;
}

.pager li.middle, .pager li.middle > a {
  border: 0px;
}

.jqstooltip {
  height: 35px;
  width: 60px;
}
