@import org.joda.time._
@import views.addons._
@import helpers.ContentHelper
@import helpers.EntryHelper

@(user: openfire.User, entries: List[openfire.LogEntry], entryHelper: helpers.EntryHelper, prev: Integer, next: Integer, page: Integer, order: String)

@main(user.getUsername()+"'s messages") {
  	<li><a href="@routes.Application.index()">Chatlogs</a></li>
  	<li><a href="@routes.Rooms.index()">Rooms</a></li>
  <li class="active"><a href="@routes.Users.index()">Users</a></li>
} { 
    <li><a href="@routes.Users.index()"><i class="fa fa-home"></i></a></li>
    <li class="active">@user.getUsername()</li>
} {

<h2><small>Messages from User</small> @user.getUsername()</h2>
<ul class="pager">
    <li class="previous">
        @if(prev != null){
        <a href="@routes.Users.browse(user.getUsername())?page=@prev">&larr; prev</a>
        }
    </li>
    <li class="middle">
		<a href="@routes.Users.browse(user.getUsername())?page=@page&order=@if(order.equals("asc")){asc}else{desc}">
		<i class="fa fa-sort-amount-@order"></i>
		</a>
    </li>
    <li class="next">
        @if(next != null){
        <a href="@routes.Users.browse(user.getUsername())?page=@next">next &rarr;</a>
        }
    </li>
</ul>
<table class="table table-striped">
    @for(entry <- entries) {
    @Html(entryHelper.checkDayChange(entry, 4))
    @Html(entryHelper.checkRoomChange(entry, 4, null))
    <tr class="entry" id="@entry.getEntryId()" name="@entry.getEntryId()">
		<td class="narrow">@Html(EntryHelper.decorateIcon(entry.getSenderName()))</td>
		<td><div class="content">@if(entry.subject){ changed topic to <b>@entry.subject</b> } else { @Html(ContentHelper.prepare(entry.body)) } </div></td>
        <td class="narrow"><a href="@routes.Rooms.show(entry.roomId, entry.getYear(), entry.getMonth(), entry.getDay())">@entry.getDate().format("dd.MM.yyyy HH:mm:ss")</a></td>
	</tr>
    }
</table>
<ul class="pager">
    <li class="previous">
        @if(prev != null){
        <a href="@routes.Users.browse(user.getUsername())?page=@prev">&larr; prev</a>
        }
    </li>
    <li class="middle">
		<a href="@routes.Users.browse(user.getUsername())?page=@page&order=@if(order.equals("asc")){asc}else{desc}">
		<i class="fa fa-sort-amount-@order"></i>
		</a>
    </li>
    <li class="next">
        @if(next != null){
        <a href="@routes.Users.browse(user.getUsername())?page=@next">next &rarr;</a>
        }
    </li>
</ul>
}