@import helpers.EntryHelper

@(users: List[openfire.User])
@main("ChatLogServer") {
  <li><a href="@routes.Application.index()">Chatlogs</a></li>
  <li><a href="@routes.Rooms.index()">Rooms</a></li> 
  <li class="active"><a href="@routes.Users.index()">Users</a></li>
} { 
	<li><a href="@routes.Users.index()"><i class="fa fa-home"></i></a></li>
} {
<div class="row">
    @for(user <- users) {    
 	<div class="center col-lg-3 col-md-3 col-sm-6">
        <h2 class="user">
            @Html(EntryHelper.decorateAvatar(user.username)) 
        </h2>
    </div>    
    }
</div>
}