@import helpers.EntryHelper

@(users: List[openfire.User])
@main("ChatLogServer") {
  <li><a href="@routes.Application.index()">Chatlogs</a></li>
  <li><a href="@routes.Rooms.index()">Rooms</a></li> 
  <li class="active"><a href="@routes.Users.index()">Users</a></li>
} { 
	<li><a href="@routes.Users.index()"><i class="fa fa-home"></i></a></li>
} {
<table class="table table-striped">
	<tr>
		<th>User</th>
	</tr>
    @for(user <- users) {
    <tr>
    	<td>@Html(EntryHelper.decorateSenderName(user.username))</td> 	
    </tr>
    }
</table>
}