@import views.addons._
@import helpers.ContentHelper
@import helpers.EntryHelper

@(room: openfire.Room, entries: List[openfire.LogEntry], prev: Integer, next: Integer, page: Integer, order: String)

@main("ChatLogServer") {
	<li><a href="@routes.Rooms.index()">Home</a></li>
  	<li><a href="@routes.Rooms.index()">Rooms</a></li>
  	<li class="active">@room.title</li>
	<li class="pull-right"><a href="xmpp://@room.getJabberId()?join">join @room.getJabberId()</a></li>
} {
<ul class="pager">
    <li class="previous">
        @if(prev != null){
        <a href="@routes.Rooms.browse(room.roomId)?page=@prev">&larr; prev</a>
        }
    </li>
    <li>
		<a href="@routes.Rooms.browse(room.roomId)?page=@page&order=@if(order.equals("asc")){asc}else{desc}">
		<span class="glyphicon @if(order.equals("asc")){glyphicon-chevron-up}else{glyphicon-chevron-down}"></span>
		</a>
    </li>
    <li class="next">
        @if(next != null){
        <a href="@routes.Rooms.browse(room.roomId)?page=@next">next &rarr;</a>
        }
    </li>
</ul>
<table class="table table-striped">
    @for(entry <- entries) {
    <tr class="entry" id="@entry.getEntryId()" name="@entry.getEntryId()">
        <td class="narrow">@Html(EntryHelper.decorateSenderName(entry.getSenderName()))</td>
        <td>@if(entry.subject){<em>@Html(ContentHelper.prepare(entry.subject))</em>}@Html(ContentHelper.prepare(entry.body))</td>
        <td class="narrow"><a href="@routes.Rooms.show(entry.roomId, entry.getYear(), entry.getMonth(), entry.getDay())">@entry.getDate().format("dd.MM.yyyy HH:mm:ss")</a></td>
    </tr>
    } 
</table>
<ul class="pager">
    <li class="previous">
        @if(prev != null){
        <a href="@routes.Rooms.browse(room.roomId)?page=@prev">&larr; prev</a>
        }
    </li>
    <li>
		<a href="@routes.Rooms.browse(room.roomId)?page=@page&order=@if(order.equals("asc")){asc}else{desc}">
		<span class="glyphicon @if(order.equals("asc")){glyphicon-chevron-up}else{glyphicon-chevron-down}"></span>
		</a>
    </li>    
    <li class="next">
        @if(next != null){
        <a href="@routes.Rooms.browse(room.roomId)?page=@next">next &rarr;</a>
        }
    </li>
</ul>
}
