@import views.addons._

@(rooms: List[openfire.Room])

@main("ChatLogServer") {
<ol class="breadcrumb">
  <li><a href="#">Rooms</a></li>
</ol>
<div class="row">
    @for(room <- rooms) {
    @if(room.getEntryCount() > 0){
    <div class="col-lg-3 col-md-3 col-sm-6">
        <h2 class="room">
            @room.title <a href="xmpp://@room.getJabberId()?join"><span class="glyphicon glyphicon-log-in"></span></a>
            <br />
            <small>@room.getEntryCount() message(s) <br />since @room.getLastEntryDate().since()</small>
        </h2>
        <a class="btn btn-primary" href="@routes.Rooms.browse(room.roomId)">browse</a>
    </div>
    }
    } 
</div>	
}
