@import views.addons._

@(rooms: List[openfire.Room])

@main("ChatLogServer") {
  <li><a href="@routes.Rooms.index()">Home</a></li>
  <li class="active">Rooms</li>
} {
<div class="row">
    @for(room <- rooms.iterator) {
    @if(room.getEntryCount() > 0){
    <div class="col-lg-3 col-md-3 col-sm-6">
        <h2 class="room">
            <a title="browse @room.title" href="@routes.Rooms.browseWithName(room.name)">@room.title</a> <a title="join @room.title" href="xmpp://@room.getJabberId()?join"><span class="glyphicon glyphicon-log-in"></span></a>
            <br />
            <small>@room.getEntryCount() message(s) <br />since @room.getLastEntryDate().since()</small>
        </h2>
    </div>
    }
    } 
</div>	
}
