@import views.addons._

@(rooms: Map[java.util.Date, openfire.Room])

@main("ChatLogServer") {
  <li><a href="@routes.Rooms.index()">Home</a></li>
  <li class="active">Rooms</li>
} {
<div class="row">
    @for(key <- rooms.keySet()) {
    @if(rooms.get(key).getEntryCount() > 0){
    <div class="col-lg-3 col-md-3 col-sm-6">
        <h2 class="room">
            <a title="browse @rooms.get(key).title" href="@routes.Rooms.browse(rooms.get(key).roomId)">@rooms.get(key).title</a> <a title="join @rooms.get(key).title" href="xmpp://@rooms.get(key).getJabberId()?join"><span class="glyphicon glyphicon-log-in"></span></a>
            <br />
            <small>@rooms.get(key).getEntryCount() message(s) <br />since @key.since()</small>
        </h2>
    </div>
    }
    } 
</div>	
}
