@import org.joda.time._
@import views.addons._
@import helpers.ContentHelper

@(room: openfire.Room, entries: List[openfire.LogEntry], from: DateTime, to: DateTime)

@main("ChatLogServer") {
<ol class="breadcrumb">
  	<li><a href="@routes.Rooms.index()">Rooms</a></li>
  	<li><a href="@routes.Rooms.browse(room.roomId)">@room.title</a></li>
  	<li class="active">@from.toDate().format("dd.MM.yyyy")</li>
	<li class="pull-right"><a href="xmpp://@room.getJabberId()?join">join @room.getJabberId()</a></li>
</ol>
<table class="table">
    @for((entry, index) <- entries.zipWithIndex) {	
    <!-- @entry.getLineCount() -->
    @Html(entry.toTableRow(room))
    }
</table>
}