@import org.joda.time._
@import views.addons._
@import helpers.ContentHelper

@(room: openfire.Room, entries: List[openfire.LogEntry], from: DateTime, to: DateTime)

@main("ChatLogServer") {
<h1><a href="@routes.Rooms.index()"><span class="glyphicon glyphicon-th"></span></a> @room.title <small>@from.toDate().format("dd.MM.yyyy")</small></h1>
<table class="table table-striped">
    @for((entry, index) <- entries.zipWithIndex) {	
    <tr id="L@{index+1}" name="L@{index+1}">
        <th class="tiny" data-line="@{index+1}"><a href="#L@{index+1}">#@{index+1}</a></th>
        <td class="narrow">@entry.nickname</td>
        <td>@if(entry.subject){<em>@Html(ContentHelper.prepare(entry.subject))</em>}@Html(ContentHelper.prepare(entry.body))</td>
        <td class="narrow">@entry.getDate().since()</td>
    </tr>
    }
</table>
}
