@main("ChatLogServer") {
  	<li class="active"><a href="@routes.Application.index()">Chatlogs</a></li>
    <li><a href="@routes.Rooms.index()">Rooms</a></li> 
	<li><a href="@routes.Users.index()">Users</a></li>
} {
} {
<div class="row">
    <div class="col-lg-3 col-md-3 col-sm-6 center">
		<a href="@routes.Rooms.index()">
		<h1><i class="fa fa-comment"></i><br />Rooms</h1>
		</a>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 center">
    	<a href="@routes.Users.index()">
    	<h1><i class="fa fa-user"></i><br />Users</h1>
    	</a>
    </div>
</div>
}
