@(title: String)(navivation: Html)(content: Html)
@import controllers.Application

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("css/bootstrap.min.css")" />
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("css/bootstrap-theme.min.css")" />        
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("css/app.css")" />        
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("img/favicon.png")" />
    </head>
    <body>
        <div class="container">
        	<ol class="breadcrumb">
  				@navivation  
  								
			</ol>
			<ol class="breadcrumb pull-right">
			  	<li><a href="/">Dashboard</a></li>
			  	@if(Application.ISSUE_TRACKER_URL){
	  				<li><a target="_issues" href="@Application.ISSUE_TRACKER_URL">Issues</a></li>
  				}
			</ol>
            @content
            <hr>
            <footer>
                <p><small>free icons by  https://www.iconfinder.com</small></p>
            </footer>
        </div>
        <script src="@routes.Assets.at("js/bootstrap.min.js")" type="text/javascript"></script>
    </body>
</html>
